__pycache__/
*.pyc
*.pyo
*.pyd
.env
.git
backend/cache/*
backend/generated/*
backend/uploads/*
!backend/cache/.gitkeep
!backend/generated/.gitkeep
!backend/uploads/.gitkeep
frontend/node_modules/
frontend/dist/
venv/
.venv/
env/
*.log
